#ignore the media folder
/media/
/obj/
/bin/
/saves/
/builds/
/warper/
/warper-bin/
/old/
/output/
/logs/
/maps/
/CoSprite/
/assets/mockups/
*.cbp
*.depend
*.layout
*.cfg
*.exe
*.dll
*.crt
*.pem
*.pdn
*.cscope_file_list
*.out
*.save-failed
